<div class="panel panel-info">
  <div class="panel-heading">
    <%= gravatar_for friend_watch.user, size: 50, class: 'gravatar img-circle' %> <%= friend_watch.user.name %> watched a movie!
  </div>
  <div class="panel-body">
    <div class="row">
    	<div class="col-sm-2">
    	  <%= poster_for_path friend_watch.movie.tmdb_poster_path, friend_watch.movie.title, size: 92 %>
    	</div>
      <div class="col-sm-10">
        <h3><%= friend_watch.movie.title %></h3>
        <p><b>on</b> <%= friend_watch.date %> <b> and rated it </b> <%= friend_watch.rating %> </p>
        <hr style="margin-bottom: 0.5em;">
        <p>
  			  <%= friend_watch.review %>
  		  </p>
      </div>   
    </div>
  </div>
</div>