<div class="panel panel-info">
  <div class="panel-heading">
    <%= gravatar_for friend_watch.user, size: 50, class: 'gravatar img-circle' %> <%= friend_watch.user.name %> watched a movie!
  </div>
  <div class="panel-body">
    <div class="row">
    	<div class="col-sm-2">
    	  <%= poster_for_path friend_watch.movie.tmdb_poster_path, friend_watch.movie.title, size: 92 %>
    	</div>
      <div class="col-sm-9">
        <h3><%= friend_watch.movie.title %></h3>
        <p><b>on</b> <%= friend_watch.date %> <b> and rated it </b> <%= friend_watch.rating %> </p>
        <hr style="margin-bottom: 0.5em;">
        <p>
  			  <%= friend_watch.review %>
  		  </p>
      </div>
    	<div class="col-sm-1" id="like_state_<%= friend_watch.id %>">
    	  <% if watch_like = @watch_likes.detect { |wl| wl.watch_id == friend_watch.id } %>
	        <%= render 'unlike', watch_like: watch_like %>
    	  <% else %>
          <%= render 'like', watch_id: friend_watch.id %>
    	  <% end %>
    	</div>      
    </div>
  </div>
</div>