<% provide(:title, 'select movie') %>
<div class="row">
<div class="col-sm-9">
  <%= form_for :tmdb_movies, method: :get do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: "sr-only" %>
      <%= text_field_tag :keywords, @keywords, 
            placeholder: "Movie Title", 
            class: "form-control input-lg" %>
      <span class="input-group-btn">
        <%= submit_tag "find movies", class: "btn btn-primary btn-lg" %>
      </span>
    </div>
  <% end %>
</div>
<div class="col-sm-2">
<%= link_to "skip - add manually", new_movie_path %>
</div>
</div>
<ul class="basic">
<% @tmdb_movies.each do |tmdb_movie| %>
  <li>
    <div class="col-sm-4">
    <%= poster_for_movie tmdb_movie %>
    <%= link_to tmdb_movie["title"], tmdb_movie_path(tmdb_movie["id"]) %>
    </div>
    <div class="col-sm-2">
      <br>
      <%= link_to "<button type=\"button\"><i class=\"fa fa-plus-square\"></i> add this movie</button>".html_safe,
        create_from_tmdb_path(tmdb_id: tmdb_movie["id"]), method: :post %>
    </div>    
    <div class="col-sm-3">
      <br>
      <%= link_to "<button type=\"button\"><i class=\"fa fa-plus\"></i> review and add movie</button>".html_safe,
        new_movie_path( tmdb_id: tmdb_movie["id"] ) %>
    </div>
  </li>
<% end %>
</ul>

<%= will_paginate @tmdb_movies %>