<%= form_for(@movie) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :year %>
  <%= f.text_field :year, class: 'form-control' %>
  <%= f.hidden_field :tmdb_id %>
  <%= f.hidden_field :imdb_id %>
  <%= f.hidden_field :tmdb_poster_path %>
  
  <div class="row">    
    <div class="col-sm-6">
      <%= f.submit "save", class: "btn btn-primary" %>
    </div>
    <div class="col-sm-6">
      <%= link_to "cancel", movies_path, method: :get, class: "btn btn-default form-control" %>
    </div>
<% end %>