<% provide(:title, 'movies') %>
<div class="row">
  <div class="col-sm-9">
    <%= form_for :movies, method: :get do |f| %>
      <div class="input-group input-group-lg">
        <%= label_tag :keywords, nil, class: "sr-only" %>
        <%= text_field_tag :keywords, @keywords, 
              placeholder: "Movie Title", 
              class: "form-control input-lg" %>
        <span class="input-group-btn">
          <%= submit_tag "find movies", class: "btn btn-primary btn-lg" %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="col-sm-2">
    <% if logged_in? %>
      <br>
      <%= link_to "add new movie", tmdb_movies_path %>
    <% end %>
  </div>
</div>

<div class="row">
  <hr>
  <ol class="list-group">
    <%= render @movies %>
  </ol>
</div>

<%= will_paginate @movies %>
