<% provide(:title, 'movie') %>

<% if @watched_redirect %>
  <%= link_to "back to watches", watches_path %>
<% else %>
  <%= link_to "back to movies", movies_path %>
<% end %>

<br><br>
<div class="container-fluid">
  <div class="row card">
      <div class="col-lg-6">
        <div>
          <div align="center">
            <%= poster_for_path @movie.tmdb_poster_path, @movie.title, size:400, class: 'halfsize' %>
  
            <div class="card-container">
              <h4><b><%= "#{@movie.title} (#{@movie.year})" %></b></h4> 
              <%= link_to "imdb", "http://www.imdb.com/title/#{@movie.imdb_id}/", target: '_blank' %>
            </div>
          </div>
        </div>    
      </div>
      <div class="col-lg-6">
          <div align="center">
            <h1>Average User Rating: <%= @average_rating %></h1>
            <p>(Based on <%= @total_watches %> <%= people_text(@total_watches) %> watching this movie.)</p>                
            <h4>Last 3 Reviews</h4>
            <% @last_reviews.each do |watch| %>
              <div class="panel panel-info">
                <div class="panel-heading">
                  <%= watch.date %>
                </div>
                <div class="panel-body">
                  <p>
          			    <%= watch.review %>
          		    </p>                    
                </div>
              </div>
            <% end %>
            </div>
          </div>
      </div>
  </div>  
