<% provide(:title, 'movie') %>

<div class="media-banner">
  <div class="container">
   <ol class="breadcrumb">  
      <% if @watched_redirect %>
        <li class="breadcrumb-item"><%= link_to "Watches", watches_path %></li>
      <% else %>
        <li class="breadcrumb-item"><%= link_to "Movies", movies_path %></li>
      <% end %>
      <li class="breadcrumb-item active" aria-current="page">Movie</li>
    </ol>
  </div>  
  <figure class="backdrop">
    <%= background_for_path(@movie.backdrop_path, @movie.title) %>
  </figure>

  <div class="container">
    <div class="row my-4">
      <div class="col-md-3">
        <%= poster_for_path @movie.tmdb_poster_path, @movie.title, size: 500, class: "poster"  %>
      </div>

      <div class="col-md-9">
        <div class="media-info">
          <h2 class="media-rating"><%= @average_rating  %></h2>

          <h1 class="mb-4"><%= @movie.title %></h1>

          <h5>Overview</h5>
          <p><%= @movie.overview %></p>

          <%= link_to "IMDb", @movie.imdb_url, target: "_blank", class: "btn btn-light rounded-pill" if @movie.imdb_id? %>
          <%= link_to "TMDb", @movie.tmdb_url, target: "_blank", class: "btn btn-info rounded-pill" if @movie.tmdb_id? %>
          <%= link_to new_watch_path(movie_id: @movie.id), class: "btn btn-danger rounded-pill" do %>
            <i class="fa fa-eye"></i>
            Watch
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-4">
  <ul class="nav nav-tabs">
    <li class="nav-item"><%= link_to "Reviews", "#review", class: "nav-link active", data: { toggle: "tab" } %></li>
    <li class="nav-item"><%= link_to "Watches ", "#watches", class: "nav-link", data: { toggle: "tab" } %></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" role="tabpanel" id="review">
      <% @last_reviews.each do |review| %>
        <div class="card media-card my-3">
          <div class="card-body">
            <h5 class="card-title"><%= review.date %></h5>
            <h6 class="card-subtitle mb-2">Rating: <%= review.rating %></h6>
            <p class="card-text"><%= review.review %></p>
          </div>
        </div>  
       <% end %>       
    </div>

    <div class="tab-pane fade" role="tabpanel" id="watches">
      <div class="card media-card my-3">
        <div class="card-body">
          <% if @user_watches %>
            <% @user_watches.each do |u| %>
              <%= link_to edit_watch_path(id: u.id) do %>
                Watched on <%= u.date %>
              <% end %>
              </br>
            <% end %>
          <% else %>
            <p>Login to see when you watched this movie.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>