<% provide(:title, 'movie') %>

<% if @watched_redirect %>
  <%= link_to "back to watches", watches_path %>
<% else %>
  <%= link_to "back to movies", movies_path %>
<% end %>

<br><br>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-4">
        <div class="card">
          <%= poster_for_path @movie.tmdb_poster_path, @movie.title, size:300 %>
          <div class="card-container">
            <h4><b><%= "#{@movie.title} (#{@movie.year})" %></b></h4> 
            <%= link_to "imdb", "http://www.imdb.com/title/#{@movie.imdb_id}/", target: '_blank' %>
          </div>
        </div>    
      </div>
      <div class="col-md-8">
          <div class="row" style="height:140px">
              <div class="card col-md-12" style="height:120px">
                <h1>Average User Rating: <%= @average_rating %></h1>
                <h3>Based on <%= @total_watches %> <%= people_text(@total_watches) %> watching this movie.</h3>
              </div>
          </div>
          <div class="row" >
              <div class="card col-md-12" style="height:375px">
                <h4>Last 2 Reviews</h4>
                <% @last_reviews.each do |watch| %>
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <%= watch.date %>
                    </div>
                    <div class="panel-body">
                      <p>
              			    <%= watch.review %>
              		    </p>                    
                    </div>
                  </div>
                <% end %>
              </div>
          </div>
      </div>
  </div>  
</div>

