<div class="col-sm-12">
  <li class="list-group-item clearfix">
  <div class="row">
    <div class="col-sm-5">
      <%= gravatar_for user, size: 50 %>
      <% if current_user.admin? %>
        <%= link_to user.name, user %><%= friend_status_option(user) %>
      <% else %>
         <%= user.name %> <%= friend_status_option(user) %>
      <% end %>
    </div>
    <div class="col-sm-2">
      <p><%= add_remove_friend_option(user) %></p>
    </div>
    <div class="col-sm-2">
      <% if current_user.admin? && !current_user?(user) %>
        <br>
        <%= link_to "delete", user, method: :delete, 
                                      data: {confirm: "You sure?" } %>
      <% end %>
    </div>
  </div>
</li>
</div>