<tr>
  <td>
    <%= link_to "<button type=\"button\"><i class=\"fa fa-pencil-square-o\"></i></button>".html_safe, 
      edit_subscription_payment_path(subscription_payment.id)%>
  </td>   
  <td><%= subscription_payment.start_date %></td>
  <td  class="hidesmall"><%= subscription_payment.end_date %></td>
  <td  class="hidesmall"><%= subscription_payment.amount %></td>
  <td><%= link_to subscription_payment.watches_count || 0, subscription_payment_watches_path(subscription_payment_id: subscription_payment.id) %></td>
  <td><%= cost_per_movie(subscription_payment.amount, subscription_payment.watches_count) %></td>
</tr>