<% provide(:title, 'edit subscription payment') %>
<div class="container">
  <div class="media-list my-2">
    <%= form_for(@subscription_payment) do |f| %>    
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :amount %>
      <%= f.number_field :amount, in: 0.0..10000.0, step: 0.01, class: 'form-control' %>
      <%= f.label :full_price_amount %>
      <%= f.number_field :full_price_amount, in: 0.0..10000.0, step: 0.01, class: 'form-control' %>
      
      <div class="row">    
        <div class="col-sm-6">
          <%= f.submit "save", class: "btn btn-primary" %>
        </div>
        <div class="col-sm-6">
          <%= link_to "cancel", subscription_path(f.object.subscription_id), method: :get, class: "btn btn-default form-control" %>
        </div>
      </div>  
    <% end %>
  </div>
</div>
