<h4><%= "recording the watching of #{@title}" %></h4>
<%= form_for(@watch) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :movie_id %>
  <%= f.hidden_field :tv_show_season_id %>
          <%= f.label :date %>
      <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-calendar"></i></span></div>
        <%= f.date_field :date, autofocus: true %>
      </div>
      <%= f.label :rating %>
      <%= f.number_field :rating, in: 0..5, step: 1, class: 'form-control' %>

  <%= f.label :paid %>
  <%= f.number_field :paid, in: 0.0..10000.0, step: 0.01, class: 'form-control' %>
  
  <%= f.label :subscription_id %>  
  <%= collection_select(:watch, :subscription_id, 
    @subscriptions, :id, :name, {include_blank: true}, 
    {class: 'form-control'}) %>     
  
  <%= f.label :location_id %>  
  <%= collection_select(:watch, :location_id, 
    LookUpService.lookup_values(:location), :id, :name, {include_blank: true}, 
    {class: 'form-control'}) %>   

  <%= f.label :review %>
  <%= f.text_area :review, class: 'form-control' %>
  
   <div class="input-group">
     <%= f.submit "save", class: "btn btn-primary" %>
     <%= link_to "cancel", watches_path, method: :get, class: "btn btn-default form-control" %>
  </div>     
<% end %>