<% movies.each do |movie| %>
  <div class="card media-card my-3">
    <div class="media-poster"><%= poster_for_path movie.tmdb_poster_path, movie.title, size: 500, class: "card-img rounded-0"  %></div>
    <div class="card-body">
      <h5 class="card-title"><%= link_to movie.title, movie %></h5>
      <h6 class="card-subtitle mb-2"><%= movie.tagline %></h6>
      <p class="card-text"><%= truncate(movie.overview, length: 200) %></p>

      <% if logged_in? %>
        <hr style="margin-bottom: 0.5em;">
        <div class="container">
          <div class="row my-1">
            <div  class="col-xs-1">
              <%= link_to "<button type=\"button\" class=\"rounded-pill small_icon_button\"><i class=\"fa fa-pencil-square-o\"></i></button>".html_safe, edit_movie_path(movie.id, params: {upcoming: true})%>
            </div>
            <div class="col-xs-1" id="interested_state_<%= movie.id %>">
          	  <% if movie_interest = @movie_interests.detect { |mi| mi.movie_id == movie.id } %>
      	        <%= render 'interested', movie_interest: movie_interest %>
          	  <% else %>
                <%= render 'not_interested', movie_id: movie.id %>
          	  <% end %>
  	        </div>

            <div  class="col-xs-1">
              <%= link_to "<button type=\"button\" class=\"rounded-pill small_icon_button\"><i class=\"fa fa-check\"></i></button>".html_safe, release_movie_path(id: movie.id), method: :patch %>
            </div>
          
          </div>
        </div>
      <% end %>
    
    </div>
  </div>  
<% end %>