<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row content">
        <%= render 'layouts/header' %>
        <div class="col-sm-9">
          <%= yield %>
          
        </div>
      </div>
    </div>  

    <div class="col-sm-2"></div>
    <div class="col-sm-9">
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
