<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row content">
        <%= render 'layouts/header' %>
        <div class="col-sm-9">
          <span>
            <div class="pull-right">
              <% if logged_in? %>
                <br>
                <%= gravatar_for current_user, size: 30 %>
              <% end %>
            </div>
            <h2><small><%= yield(:title) %></small></h2>
          </span>
          <hr>
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>     
          <%= yield %>
        </div>
      </div>
    </div>  

    <div class="col-sm-2"></div>
    <div class="col-sm-9">
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
